.auth-page
  width: 100%
  height: 100vh
  display: flex

  &__main
    width: 35%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    +lg
      width: 45%
    +md
      width: 100%
    +sm
      padding: 0 15px

  &__poster
    width: 65%
    background-color: $purple_dark
    +lg
      width: 55%
    +md
      display: none

  &__title
    font-size: 48px
    +text-medium
    margin-bottom: 40px
    +sm
      font-size: 32px
      text-align: center

  &__text-block
    display: flex

  &__text
    font-size: 14px
    color: $dark_light

  &__link
    font-size: 14px
    color: $purple_dark
    text-decoration: none

  &__btn
    width: 403px
    padding: 11px 0
    border-radius: 8px
    margin-top: 15px
    margin-bottom: 25px
    background-color: $purple_dark

    font-family: $ff-r
    +text-s
    +text-medium
    color: $white

    transition: background-color .2s

    +sm
      width: 100%

    &:hover
      background-color: $purple

    &:active
      background-color: $purple_light

.poster
  &__sprites
    width: 100%
    height: 80%
    position: relative
    overflow: hidden

  &__lines,
    position: absolute
    width: 100%
    height: auto
    z-index: 1
    &_bottom
      z-index: 3
      +xl
        z-index: 1

  &__bubble
    position: absolute
    left: 46px
    z-index: 2

  &__content
    display: flex
    justify-content: center

  &__text
    font-size: 52px
    font-weight: 500
    color: $white
    text-align: center
    +lg
      font-size: 42px

.poster__bubble
  +lg
    width: 100%
    height: auto
    top: 10%
    left: 0
